.youtube-video {
    margin: 0 auto 2em auto;
    color: #fff;
    
    a {
        color: #fff !important;
        font-size: 2em;
        text-shadow: 0 1px 4px rgba(0,0,0,0.55);
    }
}

.biodiversity .youtube-video {
    border-bottom: 4px solid #6ebc44;
}